In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv("churn_Modelling.csv")

In [3]:
print(df.shape)

(10000, 14)

In [4]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
# df.rows

In [6]:
df.drop(["RowNumber", "CustomerId","Surname"], axis=1, inplace= True)

In [7]:
df.Geography.unique()
df.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [8]:
geography= pd.get_dummies(df.Geography)
gender= pd.get_dummies(df.Gender)
df= pd.concat([df, geography, gender], axis= 1)

In [9]:
df.Balance= np.where(df.Balance==0, 0,1)

In [10]:
import numpy as np
from sklearn.model_selection import train_test_split
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain,Female,Male
0,619,France,Female,42,2,0,1,1,1,101348.88,1,1,0,0,1,0
1,608,Spain,Female,41,1,1,1,0,1,112542.58,0,0,0,1,1,0
2,502,France,Female,42,8,1,3,1,0,113931.57,1,1,0,0,1,0
3,699,France,Female,39,1,0,2,0,0,93826.63,0,1,0,0,1,0
4,850,Spain,Female,43,2,1,1,1,1,79084.10,0,0,0,1,1,0

In [11]:
x= df.drop(["Exited", "Geography", "Gender"], axis= 1)
y= df["Exited"]

In [12]:
x_train, x_test, y_train, y_test= train_test_split(x,y, random_state= 42)

In [13]:
import tensorflow as tf
from keras.models import Sequential
import pandas as pd
from keras.layers import Dense
print(df.shape)

(10000, 16)

In [14]:
model= Sequential()
model.add(Dense(8, activation='relu', input_shape= (13,)))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation= "sigmoid"))
model.compile(loss='binary_crossentropy',
optimizer='sgd',
metrics=['accuracy'])
model.fit(x_train, y_train,epochs=8, batch_size=1, verbose=1)

Epoch 1/8
7500/7500 [==============================] - 10s 1ms/step - loss: 125589648.0000 - accuracy: 0.7944
Epoch 2/8
7500/7500 [==============================] - 10s 1ms/step - loss: 0.5083 - accuracy: 0.7947
Epoch 3/8
7500/7500 [==============================] - 10s 1ms/step - loss: 0.5082 - accuracy: 0.7947
Epoch 4/8
7500/7500 [==============================] - 10s 1ms/step - loss: 0.5083 - accuracy: 0.7947
Epoch 5/8
7500/7500 [==============================] - 10s 1ms/step - loss: 0.5083 - accuracy: 0.7947
Epoch 6/8
7500/7500 [==============================] - 10s 1ms/step - loss: 0.5080 - accuracy: 0.7947
Epoch 7/8
7500/7500 [==============================] - 10s 1ms/step - loss: 0.5084 - accuracy: 0.7947
Epoch 8/8
7500/7500 [==============================] - 10s 1ms/step - loss: 0.5079 - accuracy: 0.7947

In [15]:
# y_pred = model.predict(x_test)
score = model.evaluate(x_test, y_test,verbose=1)
print(score)

79/79 [==============================] - 0s 2ms/step - loss: 0.4993 - accuracy: 0.8012
[0.4993078112602234, 0.8011999726295471]