In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data= pd.Series([28,30,29,40])

In [4]:
data

0    28
1    30
2    29
3    40
dtype: int64

In [5]:
data= pd.Series([28,30,29,40],["A","b","c","d"])
data

A    28
b    30
c    29
d    40
dtype: int64

In [11]:
data['A']

28

In [12]:
d= {'col1':[1,2],'col2':[3,4]}
df= pd.DataFrame(d)
df

   col1  col2
0     1     3
1     2     4

In [16]:
df= pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]), columns= ['a','b','c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:

df= pd.read_excel('movies.xls')

In [6]:
df.head()

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71.0,8.0

In [7]:
df.describe()

,Year,Duration,Aspect Ratio,Budget,Gross Earnings,Facebook Likes - Director,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
count,1338.000000,1338.000000,1308.000000,1.281000e+03,1.086000e+03,1338.000000,1338.000000,1338.000000,1336.000000,1338.000000,1338.000000,1338.000000,1.338000e+03,1338.000000,1335.000000,1338.000000
mean,1987.289985,113.071001,1.987752,2.712064e+07,4.752741e+07,1026.567265,5255.186846,1227.041106,456.738772,7673.354260,2656.870703,1.167414,8.538817e+04,255.183857,85.108614,6.702167
std,14.124870,27.434048,0.310047,8.466937e+07,6.113161e+07,3446.329257,8652.096738,2891.932284,880.031542,11055.985788,7446.142461,1.608806,1.560198e+05,343.287920,62.040982,1.066497
min,1916.000000,25.000000,1.180000,7.000000e+03,5.494000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000e+00,1.000000,1.000000,2.300000
25%,1982.000000,96.000000,1.850000,4.000000e+06,8.182800e+06,6.000000,605.000000,273.000000,136.000000,1412.000000,0.000000,0.000000,9.905500e+03,77.250000,39.000000,6.100000
50%,1993.000000,107.000000,1.850000,1.400000e+07,2.724075e+07,56.500000,925.500000,559.000000,324.000000,2660.000000,17.500000,1.000000,3.370500e+04,159.000000,71.000000,6.800000
75%,1997.000000,123.000000,2.350000,3.300000e+07,6.358500e+07,272.000000,10000.000000,849.000000,586.500000,11937.750000,812.000000,2.000000,9.031425e+04,306.750000,118.000000,7.400000
max,1999.000000,330.000000,2.760000,2.400000e+09,6.586723e+08,21000.000000,49000.000000,29000.000000,13000.000000,74382.000000,108000.000000,15.000000,1.689764e+06,4144.000000,392.000000,9.300000

In [52]:
df[['Mine State','Mine Type']].head()

  Mine State    Mine Type
0    Alabama      Surface
1    Alabama      Surface
2    Alabama  Underground
3    Alabama      Surface
4    Alabama      Surface

In [53]:
df[0:1]

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
0,2013,103381,Tacoa Highwall Miner,Alabama,Bibb,"Active, men working, not producing",Surface,Indepedent Producer Operator,Mine only,"Jesse Creek Mining, Llc","1615 Kent Dairy Rd, Alabaster, AL 35007",,Appalachia Southern,56004,10,22392

In [54]:
df.loc[0:2,'Mine State']

0    Alabama
1    Alabama
2    Alabama
Name: Mine State, dtype: object

In [57]:
a=df.loc[df['Average Employees']>14,["Mine State","Average Employees"]]

In [63]:
b= df.loc[(df['Mine State']== 'Alabama') & (df['Average Employees']>13)]
b

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
1,2013,103404,Reid School Mine,Alabama,Blount,Permanently abandoned,Surface,Indepedent Producer Operator,Mine only,"Taft Coal Sales & Associates,","3000 Riverchase Galleria Ste 1, Birmingham, AL...",UNIT,Appalachia Southern,28807,18,28447
2,2013,100759,North River #1 Underground Min,Alabama,Fayette,"Active, men working, not producing",Underground,Indepedent Producer Operator,Mine and Preparation Plant,Jim Walter Resources Inc,"3114 County Rd 63 S, Berry, AL 35546",UNIT,Appalachia Southern,1440115,183,474784
4,2013,103451,Knight Mine,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","P.O. Box 354, Lynn, AL 35242",,Appalachia Southern,147499,27,46393
5,2013,103433,Crane Central Mine,Alabama,Jackson,Temporarily closed,Surface,Indepedent Producer Operator,Mine only,Alabama Carbon Llc,"5957 Windswept Blvd, Wise, VA 24293",,Appalachia Southern,69339,27,47195
6,2013,100329,Concord Mine,Alabama,Jefferson,Active,Underground,Operating Subsidiary,Preparation Plant,Oak Grove Resources Llc,"8360 Taylors Ferry Rd, Hueytown, AL 35023",UNIT,Appalachia Southern,0,59,144002
7,2013,100851,Oak Grove Mine,Alabama,Jefferson,Active,Underground,Operating Subsidiary,Mine only,Oak Grove Resources Llc,"8360 Taylors Ferry Rd, Hueytown, AL 35023",UNIT,Appalachia Southern,2269014,447,1001809
9,2013,102901,Shoal Creek Mine,Alabama,Jefferson,Active,Underground,Indepedent Producer Operator,Mine and Preparation Plant,Drummond Company Inc,"P.O. Box 1549, Jasper, AL 35501",United Mine Workers of America,Appalachia Southern,1453024,571,1237415
10,2013,103180,Sloan Mountain Mine,Alabama,Jefferson,Active,Surface,Indepedent Producer Operator,Mine only,"M S & R Equipment Company, Inc","2600 Warrior Jasper Road, Warrior, AL 35180",,Appalachia Southern,327780,84,196963
11,2013,103182,Fishtrap,Alabama,Jefferson,Active,Surface,Operating Subsidiary,Mine only,C&h Mining,"3699 Industrial Parkway, Jasper, AL 35501",,Appalachia Southern,175058,30,87314
12,2013,103285,Narley Mine,Alabama,Jefferson,Active,Surface,Operating Subsidiary,Mine only,Best Coal Inc,"2600 Warrior Jasper Rd, Warrior, AL 35180",,Appalachia Southern,154861,39,90584
13,2013,103332,Powhatan Mine,Alabama,Jefferson,Active,Surface,Indepedent Producer Operator,Mine only,Rac Mining Llc,"P.O. Box 354, Lynn, AL 35575",,Appalachia Southern,140521,27,61394
15,2013,103419,Maxine-Pratt Mine,Alabama,Jefferson,Active,Underground,Indepedent Producer Operator,Mine only,Warrior Investments Company In,"218 Highway 195, Jasper, AL 35503",,Appalachia Southern,125824,43,107469
17,2013,103437,Black Warrior Mine No 1,Alabama,Jefferson,Active,Surface,Indepedent Producer Operator,Mine only,"Black Warrior Minerals, Inc.","P.O. Box 1190, Sumiton, AL 35148",,Appalachia Southern,145924,27,70926
22,2013,103422,Clark No 1 Mine,Alabama,Shelby,Active,Underground,Indepedent Producer Operator,Mine only,Jesse Creek Mining Llc,"1615 Kent Dairy Road, Alabaster, AL 35117",,Appalachia Southern,122727,61,140250
23,2013,103467,Helena Surface Mine,Alabama,Shelby,"Active, men working, not producing",Surface,Indepedent Producer Operator,Mine only,"Jesse Creek Mining,","1615 Kent Diary Rd, Alabaster, AL 35007",,Appalachia Southern,59664,16,30539
24,2013,101247,No 4 Mine,Alabama,Tuscaloosa,Active,Underground,Operating Subsidiary,Mine and Preparation Plant,Jim Walter Resources Inc,"P.O. Box 133, Brookwood, AL 35444",UNIT,Appalachia Southern,2622528,643,1551141
25,2013,101401,No 7 Mine,Alabama,Tuscaloosa,Active,Underground,Operating Subsidiary,Mine and Preparation Plant,Jim Walter Resources Inc,"P.O. Box 133, Brookwood, AL 35444",UNIT,Appalachia Southern,5405412,989,2464719
26,2013,103172,"Searles Mine No. 2, 3, 4, 5, 6",Alabama,Tuscaloosa,Active,Surface,Indepedent Producer Operator,Mine only,"Southland Resources, Inc.","P.O. Box 770, Cottondale, AL 35453",,Appalachia Southern,258078,54,119542
27,2013,103179,Fleetwood Mine No 1,Alabama,Tuscaloosa,Active,Surface,Indepedent Producer Operator,Mine only,Black Warrior Minerals Inc,"P.O. Box 1190, Sumiton, AL 35148",,Appalachia Southern,75937,22,63745
28,2013,103303,Shannon Mine,Alabama,Tuscaloosa,"Active, men working, not producing",Surface,Operating Subsidiary,Mine only,"Shannon, Llc","120 N Walston Bridge Rd Bldg 2, Jasper, AL 35504",,Appalachia Southern,317491,155,164388
29,2013,103323,Deerlick Mine,Alabama,Tuscaloosa,Active,Surface,Indepedent Producer Operator,Mine only,"Cahaba Resources, Llc","P.O. Box 122, Vance, AL 35490",,Appalachia Southern,133452,24,46381
31,2013,103436,Swann's Crossing,Alabama,Tuscaloosa,Temporarily closed,Surface,Operating Subsidiary,Mine only,"Tuscaloosa Resources, Inc.","3000 Riverchase Galleria, Suit, Birmingham, AL...",UNIT,Appalachia Southern,137511,38,77190
32,2013,100347,Choctaw Mine,Alabama,Walker,Active,Surface,Indepedent Producer Operator,Mine and Preparation Plant,Taft Coal Sales & Associates I,"3000 Riverchase Galleria Ste 1, Birmingham, AL...",UNIT,Appalachia Southern,537429,82,215295
33,2013,101362,Manchester Mine,Alabama,Walker,Active,Surface,Indepedent Producer Operator,Mine only,Black Warrior Minerals Inc,"P.O. Box 1190, Sumiton, AL 35148",,Appalachia Southern,219457,41,116914
34,2013,102996,Jap Creek Mine,Alabama,Walker,Active,Surface,Operating Subsidiary,Mine only,Reed Minerals Inc,"3699 Industrial Pkwy, Jasper, AL 35501",,Appalachia Southern,375715,61,164093
36,2013,103155,Corinth Prep Plant,Alabama,Walker,Active,Underground,Indepedent Producer Operator,Preparation Plant,Warrior Investment Company Inc,"218 Highway 195, Jasper, AL 35503",,Appalachia Southern,0,22,51994
38,2013,103342,Reese's Branch Mine,Alabama,Walker,Active,Surface,Contractor,Mine only,"Cedar Lake Mining, Inc","2600 Warrior Jasper Road, Warrior, AL 35180",,Appalachia Southern,263888,56,115123
41,2013,103376,Town Creek,Alabama,Walker,Active,Surface,Operating Subsidiary,Mine only,Reed Minerals Inc,"3699 Industrial Parkway, Jasper, AL 35501",,Appalachia Southern,299167,60,176499
42,2013,103389,Carbon Hill Mine,Alabama,Walker,Active,Underground,Indepedent Producer Operator,Mine only,Prospect Mining And Developmen,"218 Hwy 195, Jasper, AL 35503",,Appalachia Southern,76241,37,84966
43,2013,103410,Coal Valley Mine,Alabama,Walker,Active,Surface,Operating Subsidiary,Mine only,"Xinergy Of Alabama, Inc.","2600 Warrior Jasper Rd, Warrior, AL 35180",,Appalachia Southern,407841,59,158591
46,2013,103321,Poplar Springs,Alabama,Winston,Active,Surface,Indepedent Producer Operator,Mine only,"Reed Minerals, Inc.","P.O. Box 2420, Jasper, AL 35502",,Appalachia Southern,189370,41,76366
47,2013,103358,Old Union,Alabama,Winston,Active,Surface,Indepedent Producer Operator,Mine only,Birmingham Coal & Coke Co Inc,"912 Edenton St, Birmingham, AL 35242",,Appalachia Southern,284563,60,161805

In [65]:
df.iloc[:3,:3]

   Year  MSHA ID                       Mine Name
0  2013   103381            Tacoa Highwall Miner
1  2013   103404                Reid School Mine
2  2013   100759  North River #1 Underground Min

In [49]:
c['Average Employees']

1        18
2       183
4        27
5        27
6        59
       ...
1418    182
1419    186
1420    278
1428     51
1447     16
Name: Average Employees, Length: 790, dtype: int64

In [66]:
del df['Union Code']

In [68]:
df["wprk hours"]= df['Average Employees']*df['Labor Hours']

In [69]:
df

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Coal Supply Region,Production (short tons),Average Employees,Labor Hours,wprk hours
0,2013,103381,Tacoa Highwall Miner,Alabama,Bibb,"Active, men working, not producing",Surface,Indepedent Producer Operator,Mine only,"Jesse Creek Mining, Llc","1615 Kent Dairy Rd, Alabaster, AL 35007",Appalachia Southern,56004,10,22392,223920
1,2013,103404,Reid School Mine,Alabama,Blount,Permanently abandoned,Surface,Indepedent Producer Operator,Mine only,"Taft Coal Sales & Associates,","3000 Riverchase Galleria Ste 1, Birmingham, AL...",Appalachia Southern,28807,18,28447,512046
2,2013,100759,North River #1 Underground Min,Alabama,Fayette,"Active, men working, not producing",Underground,Indepedent Producer Operator,Mine and Preparation Plant,Jim Walter Resources Inc,"3114 County Rd 63 S, Berry, AL 35546",Appalachia Southern,1440115,183,474784,86885472
3,2013,103246,Bear Creek,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","912 Edenton Street, Birmingham, AL 35242",Appalachia Southern,87587,13,29193,379509
4,2013,103451,Knight Mine,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","P.O. Box 354, Lynn, AL 35242",Appalachia Southern,147499,27,46393,1252611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,2013,1103254,Fidelity Mine,Refuse Recovery,Perry,"Active, men working, not producing",Refuse,Operating Subsidiary,Mine and Preparation Plant,"Energy Recovery, Llc","P.O. Box 483, Benton, IL 62812",Illinois Basin,18532,4,8249,32996
1446,2013,1102636,Wfi,Refuse Recovery,Saline,"Active, men working, not producing",Refuse,Indepedent Producer Operator,Mine only,Wfi,"4270 North America Road, Galatia, IL 62935",Illinois Basin,5070,4,1449,5796
1447,2013,4407233,Gobco #8,Refuse Recovery,Russell,Active,Refuse,Indepedent Producer Operator,Mine only,Mountain Fuels Inc,"P.O. Box 749, Abingdon, VA 24210",Appalachia Central,377607,16,43684,698944
1448,2013,1518524,Turkey Pen Refuse,Refuse Recovery,Pike,Active,Refuse,Indepedent Producer Operator,Mine only,Belcher & Company Excavating I,"2340 Conaway Road, Big Rock, VA 24603",Appalachia Central,7744,2,622,1244
1449,2013,1519685,Fedscreek Refuse Pile,Refuse Recovery,Pike,"Active, men working, not producing",Refuse,Indepedent Producer Operator,Mine only,P B Dirt Movers Inc.,"P.O. Box 10, Big Rock, VA 24603",Appalachia Central,17357,3,1020,3060

In [70]:
df['Average Employees'].mean()

55.445517241379314

In [71]:
df[['Average Employees','Labor Hours']].mean()

Average Employees        55.445517
Labor Hours          122697.073793
dtype: float64

In [72]:
df.sort_values(['Mine State','Mine County'], ascending=[True,False])

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Coal Supply Region,Production (short tons),Average Employees,Labor Hours,wprk hours
46,2013,103321,Poplar Springs,Alabama,Winston,Active,Surface,Indepedent Producer Operator,Mine only,"Reed Minerals, Inc.","P.O. Box 2420, Jasper, AL 35502",Appalachia Southern,189370,41,76366,3131006
47,2013,103358,Old Union,Alabama,Winston,Active,Surface,Indepedent Producer Operator,Mine only,Birmingham Coal & Coke Co Inc,"912 Edenton St, Birmingham, AL 35242",Appalachia Southern,284563,60,161805,9708300
32,2013,100347,Choctaw Mine,Alabama,Walker,Active,Surface,Indepedent Producer Operator,Mine and Preparation Plant,Taft Coal Sales & Associates I,"3000 Riverchase Galleria Ste 1, Birmingham, AL...",Appalachia Southern,537429,82,215295,17654190
33,2013,101362,Manchester Mine,Alabama,Walker,Active,Surface,Indepedent Producer Operator,Mine only,Black Warrior Minerals Inc,"P.O. Box 1190, Sumiton, AL 35148",Appalachia Southern,219457,41,116914,4793474
34,2013,102996,Jap Creek Mine,Alabama,Walker,Active,Surface,Operating Subsidiary,Mine only,Reed Minerals Inc,"3699 Industrial Pkwy, Jasper, AL 35501",Appalachia Southern,375715,61,164093,10009673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1410,2013,4801078,Eagle Butte Mine,Wyoming,Campbell,Active,Surface,Operating Subsidiary,Mine and Preparation Plant,"Alpha Coal West, Inc.","P.O. Box 3040, Gillette, WY 82717",Powder River Basin,19904433,255,555161,141566055
1411,2013,4801200,Buckskin Mine,Wyoming,Campbell,Active,Surface,Indepedent Producer Operator,Mine and Preparation Plant,Kiewit Mining Group Inc.,"P.O. Box 3027, Gillette, WY 82717",Powder River Basin,15023906,343,690700,236910100
1412,2013,4801215,Coal Creek Mine,Wyoming,Campbell,Active,Surface,Operating Subsidiary,Mine and Preparation Plant,Thunder Basin Coal Company Llc,"P.O. Box 406, Wright, WY 82732",Powder River Basin,8522265,149,320712,47786088
1413,2013,4801353,North Antelope Rochelle Mine,Wyoming,Campbell,Active,Surface,Operating Subsidiary,Mine and Preparation Plant,Peabody Powder River Mining Ll,"Caller Box 3035, Gillette, WY 82717",Powder River Basin,111005549,1349,2811138,3792225162
1414,2013,4801429,Dry Fork Mine,Wyoming,Campbell,Active,Surface,Operating Subsidiary,Mine and Preparation Plant,Western Fuels-Wyoming Inc,"3629 N Garner Lake Rd, Gillette, WY 82716",Powder River Basin,5433936,78,161270,12579060

In [79]:
df.groupby(['Mine State','Mine County'])['Average Employees'].mean()

Mine State  Mine County
Alabama     Bibb            10.000000
            Blount          18.000000
            Fayette        183.000000
            Franklin        20.000000
            Jackson         27.000000
                              ...
Wyoming     Campbell       470.818182
            Converse       556.000000
            Hot Springs      3.000000
            Lincoln        289.000000
            Sweetwater     215.333333
Name: Average Employees, Length: 219, dtype: float64